[data-directive="autofill"] {
  position: relative;
  
  label {
    margin: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    position: absolute;
    list-style: none;
    background-color: white;
    border: solid 1px black;
    left: 0;
    right: 0;
    z-index: 10000;
    
    li {
      display: block;
      padding: 0.1em 0.5em;
      
      &.selected, &:hover {
        background-color: #000088;
        color: white;
      }
    }
  }
}